body {
  color: #777;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #222;
}
a {
  color: #222;
  text-decoration: none;
  transition: all, 0.4s;
  font-weight: 600;
}

a:hover {
  color: #f58d17;
}

img {
  width: 100%;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.shadow-on-hover {
  transition: all 0.4s;
}

.shadow-on-hover:hover {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/* Btn */

.btn {
  border-radius: 0;
  padding: 14px 38px;
}

.btn-brand {
  color: #fff;
  background-color: #f58d17;
  font-weight: 500;
  border-color: #f58d17;
}

.btn-brand:hover {
  background-color: #d2750b;
  border-color: #d2750b;
  color: #fff;
}

.bg-cover {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
/* slide */
.slide-1 {
  background: linear-gradient(rgb(0, 0, 0, 0.5), #000),
    url(../images/cover1.jpg);
}
.slide-2 {
  background: linear-gradient(rgb(0, 0, 0, 0.5), #000),
    url(../images/cover2.jpg);
}

.bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#Heroslider h6::after,
#Heroslider h6::before {
  content: " ";
  width: 40px;
  height: 4px;
  background-color: floralwhite;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: rgb(0, 0, 0, 0.6);
  width: 40px;
  height: 70px;
  margin: auto;
}

/* intro */

.intro-text {
  margin-bottom: 40px;
  text-align: center;
}

.intro-text p {
  max-width: 500px;
  margin: 16px auto 0 auto;
}

/* menu */

#menu .nav-pills .nav-link {
  background-color: #fff;
  margin-left: 8px;
  margin-right: 8px;
  color: #000;
  border-radius: 100px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}
#menu .nav-pills .nav-link.active {
  background-color: #f58d17;
  color: whitesmoke;
}

.menu-item .stars {
  color: #f58d17;
}

/* testimoni */
#reviews { 
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/cover3.jpg);
}

.review img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.review .quote-icon {
font-size: 74px;
color: #f58d17;
line-height: 1;
}

.review .stars {
  color: #f58d17;
}

#reviews .carousel-indicators {
  margin-bottom: -3rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #222;
}

.contact .content {
  min-width: 800px;
  text-align: center;
}
.contact .content h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
.contact .content p {
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
}

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
  cursor: pointer;
}

.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75em;
}

.container .contactInfo .box:hover .icon{
   background: #00bcd4;
   color:#fff;
}

.container .contactInfo .box .text{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 1.1em;
  color: #fff;
  font-weight: 300;
}

.container .contactInfo .box .text h3{
  font-weight: 500;
  color: #00bcd4;
}

.container .contactInfo  .txt {
  color: #fff;
  margin-top: 50px;
  font-weight: 500;
  padding-left: 10px;
  border-left: 50px solid red;
  line-height: 1em;
}

.sci{
  position: relative;
  display: flex;
  gap: 30px;
  margin: 20px 0;

}

.sci li{
  list-style: none;

}

.sci li a{
  color: #fff;
  font-size: 2em;
  transition: 0.5s;
}
.sci li a:hover{
  color:#00bcd4
}

.container .contactForm {
  position: relative;
  width: 40%;
  background: #fff;
  min-height: 100px;
  padding: 60px;
}

.container .contactForm h2{
  font-size: 2em;
  color: #333;
  font-weight: 500;
}

.container .contactForm .inputBox{
   position: relative;
   width: 100%;
   margin-top: 20px;
}

.container .contactForm .inputBox input,
.container .contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 1.1 em;
  margin: 10px 0; 
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;

}

.container .contactForm .inputBox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1 em;
    color: #666;
    transform: 0.5s;

}

.container .contactForm .inputBox input span,
.container .contactForm .inputBox textarea span{
  color: #e91e63;
  font-size: 0.9em;
  transform: translateY(20px);
}

.baba{
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.1em;
  font-weight: 500;
}

@media(max-width:991px)
{
.contact{
  padding: 50px;
}

.container{
  flex-direction: column;
}

.container .contactInfo,
.container .contactForm{
   width: 100%;
}
.container .contactForm{
  padding: 50px 30px;
}
}